body.rtl[data-v-8dd36864]{direction:rtl}.legals[data-v-8dd36864]{margin:100px 0}.legals__content[data-v-8dd36864]{margin:80px 150px 0}.legals[data-v-8dd36864] h2{font-weight:400;font-family:Interstate,sans-serif;font-size:2.125rem;margin-top:40px;margin-bottom:20px}@media only screen and (max-width:991px){.legals[data-v-8dd36864] h2{font-size:1.625rem}}.legals[data-v-8dd36864] h3{margin-top:30px;font-weight:700}.legals[data-v-8dd36864] p{text-align:justify;margin-top:10px;font-weight:400}.legals .hero__content[data-v-8dd36864]{text-align:center}@media only screen and (max-width:991px){.legals[data-v-8dd36864]{margin-bottom:60px}.legals__content[data-v-8dd36864]{margin:50px 50px 0;text-align:justify}}@media only screen and (max-width:519px){.legals__content[data-v-8dd36864]{margin:50px 0}}
app.get('/', function(req,res) {
  res.send(browserRefresh('index.html'));
});

function browserRefresh(filePath) {
  var html = fs.readFileSync(filePath);
  var $ = cheerio.load(html);
  $('body').append(`<script src="${process.env.BROWSER_REFRESH_URL}"></script>`);
  return $.html();
}
