a.ribbon{
  width: 100%;
  height: 30px;
  border: 2px solid #f3722c;
  background-color: #f8961e;
  display:inline-block;
  padding: inherit;
  text-align: center;
  font-family:"pragmatica-extended",sans-serif;
  font-size: 165%;
  font-weight: bold;
  text-decoration: none;
  color: #f9c74f;
  letter-spacing: 1px;
}

body {
background-color: #ebf2fa;
}

/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #cdeac0;
  background-color: rgba(205, 234, 192, 0.9);
  overflow-x: hidden;
  transition: 0.4s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  font-family:"pragmatica-extended",sans-serif;
  letter-spacing: 1px;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
