@font-face {
   font-family: pragmatica-extended;
   src: url(PragmaticaExtendedBold.otf);
 }

#announcementbar {
  width: 100%;
  height: 30px;
  border: 0px solid #f3722c;
  background-color: #f8961e;
  display: inline-block;
  padding: inherit;
  text-align: center;
  font-family:"pragmatica-extended",sans-serif;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  color: #f9c74f;
  letter-spacing: 1.2px
}

body {
background-color: #ebf2fa;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(205, 234, 192);
  background-color: rgba(205, 234, 192, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  display:inline;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family:"pragmatica-extended",sans-serif;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.icon-menu {
  font-size: 30px;
  cursor:pointer;
  margin-right: 10%;
  Margin-left: 10%;
  Margin-top: 3%;
  Margin-bottom: 0%;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
