html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'Styrene A Web';
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: rgb(245, 245, 247);
  overflow-x: hidden;
}
footer {
  border-top: 1px black solid;
}
h1 {
  font-family:'Merriweather heavy';
  font-size: 40px;
}
h2 {
  margin: 0;
}
h3 {
  font-family:'Merriweather';
}
h4 {}
a {}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
p {}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  list-style-type: none;
}

/* color palette */
.blue {
  color: #06bbee; /* background */
}
.orange {
  color: #fc512f; /* pop */
}
.dark-blue {
  color: #0f436d; /* action items */
}
.black {
  color: black !important;
}
/* color palette */

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.w100 {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.fs20 {
  font-size: 20px;
}

.fs40 {
  font-size: 40px;
}

.ffMerri-heavy {
  font-family: "Merriweather heavy"
}

.blueish {
  color: rgb(41, 151, 255);
}

.blueish-hover {
  transition: 0.2s ease;
}
.blueish-hover:hover {
  color: rgb(41, 151, 255) !important;
}

.blackish-hover {
  transition: 0.2s ease;
}
.blackish-hover:hover {
  color: black;
}

/* navbar */
#navbar-main {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  background-color: rgb(214, 214, 214, 0.7);
  height: 70px;
  backdrop-filter: blur(15px);
  z-index: 99;
}

#nav-menu-items {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
}

#body-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#column-book {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  min-width: 700px;
}
#column-author {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  min-width: 300px;
  top: 99px;
}

#book-review-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#book-review-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: center;
  border: 10px #fc512f solid;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 25px;
  background-color: rgb(214, 214, 214);
  transition: 0.2s ease;
}

#book-review-container:hover #book-review-content {
  color: rgb(41, 151, 255);
}

#book-review-image {
  display: flex;
  justify-content: center;
  width: 300px;
}

#book-review-image-individual {
  width: auto;
  height: 350px;
  transition: 0.2s ease;
}

#book-review-container:hover #book-review-image-individual {
  transform: scale(1.05);
}

#book-review-content {
  max-width: 300px;
  color: black;
  transition: 0.2s ease;
}

#author-review-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: center;
  border: 10px rgb(51, 51, 51) solid;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 25px;
  background-color: rgb(214, 214, 214);
  transition: 0.2s ease;
}

#author-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-image {
  padding: 10px;
  align-self: center;
  border-radius: 25px;
}

.OAE-main {
  display: block;
  position: fixed;
  bottom: 0;
  left: -15px;
  margin: 0;
  cursor: default;
  user-select: none;
  height: 35vw;
}
.OAE-main-text {
  font-size: 35vw;
  font-weight: bolder;
  letter-spacing: -110px;
}
@media only screen and (max-width: 1260px) {
  .OAE-main-text {
    letter-spacing: -100px;
  }
}
@media only screen and (max-width: 1055px) {
  .OAE-main-text {
    letter-spacing: -80px;
  }
}
@media only screen and (max-width: 768px) {
  .OAE-main {
    display: flex;
    left: 0;
    width: 100vw;
    justify-content: center;
    position: fixed;
  }
  .OAE-main-text {
    font-size: 35vw;
    font-weight: bolder;
    letter-spacing: 0;
  }
}
