html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'Styrene A Web';
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #06bbee;
  overflow-x: hidden;
}
footer {
  border-top: 1px black solid;
}
h1 {
  font-family:'Merriweather heavy';
  font-size: 40px;
}
h2 {
  margin: 0;
}
h3 {
  font-family:'Merriweather';
}
h4 {}
a {}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
p {}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  list-style-type: none;
}

/* color palette */
.blue {
  color: #06bbee; /* background */
}
.orange {
  color: #fc512f; /* pop */
}
.dark-blue {
  color: #0f436d; /* action items */
}
.black {
  color: black !important;
}
/* color palette */

.flex {
  display: flex;
}

.w100 {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.fs20 {
  font-size: 20px;
}

.fs40 {
  font-size: 40px;
}

.ffMerri-heavy {
  font-family: "Merriweather heavy"
}

.blueish {
  color: rgb(41, 151, 255);
}

.blueish-hover {
  transition: 0.2s ease;
}
.blueish-hover:hover {
  color: rgb(41, 151, 255) !important;
}

.blackish-hover {
  transition: 0.2s ease;
}
.blackish-hover:hover {
  color: black;
}

/* navbar */
#navbar-main {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  background-color: rgb(246, 246, 247, 0.7);
  height: 70px;
  backdrop-filter: blur(15px);
}

#nav-menu-items {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
}

#book-review-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#book-review-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: center;
  border: 10px #fc512f solid;
  padding: 20px;
  margin-bottom: 30px;
}

#book-review-image {
  display: flex;
  justify-content: center;
  width: 300px;
}

#book-review-image-individual {
  width: auto;
  height: 350px;
}

#book-review-content {
  max-width: 300px;
}

#amazon-button {
  background-color: #0f436d;
  color: #06bbee;
  width: 150px;
  height: 30px;
  font-family: 'Styrene A Web';
  cursor: pointer;
  border: 2px #fc512f solid;
}
